# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# Next.js
.next/
out/
build/

# Environment Variables
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Prisma
/src/generated/prisma

# TypeScript build info
tsconfig.tsbuildinfo
